<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="false">
	<testsuite name="Zend_Image">
		<file><![CDATA[./Zend/AllTests.php]]></file>
	</testsuite>
	<logging>
		<log type="coverage-html" target=".\_coverage" charset="UTF-8" yui="true" highlight="false" lowUpperBound="35" highLowerBound="70" />
		<log type="test-xml" target=".\_coverage\junit.xml" logIncompleteSkipped="true" />
	</logging>
</phpunit>
